<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title></title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style>
.hero-unit{margin-top: 43px;padding: 1px;height: 50px}
.span4 input[type='text']
{
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

td button{
   margin-top: -20px;
}

.row-fluid .span6:hover{
    color: red;
}
.row-fluid .span3:hover{
    color: red;
}


</style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button"></button>
         <a class="brand" href="/home">ActiveClub</a>
           <div class="nav-collapse collapse">
              <ul class="nav">
                  <li class="active"><a href="/home">主页</a></li>
                  <li><a  data-toggle="modal" href="#myModal" id="dd">关于我</a></li> 
              </ul>
              <form class="navbar-form pull-right">
               <h4 class="span1" style="color:pink"><a href="/user_info">{{ user.first_name }}</a></h4>
             <a href="/index"> <button class="btn">Logout</button></a>
              <a href="/regist"><button class="btn">SignUp</button></a>
              </form>
          </div>
     </div>
  </div>
</div>

   <div class="hero-unit">
      <div class="row">
       <div class="span2"><a href="/home"></a><img src="/static/Logo/1.gif" ><a></a></div>
       <div class="span6"><h2>Welcome to <span style="color:red"> ActiveClub</span></h2></div> 
       <div class="span4">
        <table>
       	
       		<tr><td><input type="text" placeholder="活动名称、地点、时间"></td>
       		<td><button class="btn" type="submit">搜索</button></td></tr>
        </table>
       </div>      
      </div> 
   </div>

<div class="row-fluid">
  <center><div class="span6"><a href="/base"><h2>活动页</h2></a></div>
  <div class="span3"><a href="/userpage"><h2>用户页</h2></a></div></center>
</div> 
<hr />    

<div class="row-fluid">
<h4 style="margin-left:50px">我<span style="color:red">评论</span>的活动</h4><br />
<center>
  <div class="span2"><h4><a href="/userpage">关注的活动</a></h4></div>
  <div class="span2"><h4><a href="/userpage_join">参加的活动</a></h4></div>
  <!--<div class="span2"><h4><a href="/userpage_fenxiang">分享的活动</a></h4></div>-->
  <div class="span2"><h4><a href="/userpage_reply">评论的活动</a></h4></div>
  <div class="span3"><h4><a href="/userpage_liunian">参加过得活动留念</a></h4></div>
</center>
</div>
<div class="row-fluid" style="margin-top:50px;margin-left:50px">
     {% for huifu in huifus %}  
    <div class="span6">
      <div class="span4"><img src="/static/{{ huifu.active.active_headimg }}" width="200px" height="250px"></div>
      <div class="span8" >
      <h3>{{ huifu.active.title }}</h3><br>
      活动类型：{{ huifu.active.choice }}<br>
      活动时间：{{ huifu.active.date }}<br>
      活动地点：{{ huifu.active.site }}<br>
      活动费用：{{ huifu.active.cost }}<br>
      已有{{ huifu.active.join_num }}人参加<br>
      已有{{ huifu.active.follow_num }}人关注<br>
      我对此活动的评论>>>{{huifu.reply}} 
      </div>
    </div>  
     {% endfor %}    
</div>
   

<div class="modal" id="myModal">
                     <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3>ActiveClub简介</h3>
                      </div>
                    <div class="modal-body">
                    <p>这是一个参加活动的平台，在2013.5.7由MrMa指导FengZiZhang开发完成，给喜欢热闹，爱玩，爱生活的你一个空间</p>
                    </div>
                   <div class="modal-footer">
                    <p>谢谢您的支持</p>                            
                   </div>
                </div>
<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
$('#myModal').modal({
    backdrop:true,
    keyboard:false,
    show:true
    });
$('#myModal').modal('show')
$('#myModal').modal('hide')

</script>
</body>
</html>
