<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title></title>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<style>
.hero-unit{margin-top: 43px;padding: 1px;height: 50px}
.span4 input[type='text']
{
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

td button{
   margin-top: -20px;
}

.row-fluid .span6:hover{
    color: red;
}
.row-fluid .span3:hover{
    color: red;
}


</style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button"></button>
         <a class="brand" href="index1.html">ActiveClub</a>
           <div class="nav-collapse collapse">
              <ul class="nav">
                  <li class="active"><a href="index1.html">主页</a></li>
                  <li><a  data-toggle="modal" href="#myModal" id="dd">关于我</a> 
              </ul>
              <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <a href="home.html"><button class="btn" type="submit">SignIn</button></a>
              <a href="regist1.html"><button class="btn">SignUp</button></a>
              </form>
          </div>
     </div>
  </div>
</div>

   <div class="hero-unit">
      <div class="row">
       <div class="span2"><a href="index1.html"><img src="Logo/1.gif" ></a></div>
       <div class="span6"><h2>Welcome to <span style="color:red"> ActiveClub</span></h2></div> 
       <div class="span4">
        <table>
       	
       		<tr><td><input type="text" placeholder="活动名称、地点、时间"></td>
       		<td><button class="btn" type="submit">搜索</button></td></tr>
        </table>
       </div>      
      </div> 
   </div>

<div class="row-fluid">
  <center><div class="span6"><a href="index1.html"><h2>活动页</h2></a></div>
  <div class="span3"><a href="index1.html"><h2>用户页</h2></a></div></center>
</div> 
<hr />    

<div class="row-fluid">
<center>
  <div class="span1">类型：</div>
  <div class="span1">全部</div>
  <div class="span1">电影</div>
  <div class="span1">话剧</div>
  <div class="span1">旅行</div>
  <div class="span1">公益</div>
  <div class="span1">聚会</div>
  <div class="span1">讲座</div>
</center>
</div>
<div class="row-fluid">
<center>
  <div class="span1">时间：</div>
  <div class="span1">今天</div>
  <div class="span1">明天</div>
  <div class="span1">后天</div>
  <div class="span1">最近一周</div>
  <div class="span1">最近一月</div>
  <div class="span1" >选择日期</div>
</center>
</div>
<hr/ width='860px'>
<br><br>
<div class="row-fluid">
<center>
  <div class="span3"><img src='tt/1.jpg' class="img-polaroid"></div>
  <div class="span2"><img src='tt/2.jpg' class="img-polaroid"></div>
  <div class="span3"><img src='tt/3.jpg' class="img-polaroid"></div>
  <div class="span2"><h4>热门活动</h4></div>
  <div class="span2"><h4><a href="remen.html">更多</a></h4></div>
  <hr>
</center>
</div>

<div class="row-fluid">
<center>
  <div class="span3">dhfjksdhfsjhffd;f</div>
  <div class="span2">fjsilfjsljflsjflsjfs</div>
  <div class="span3">fijsldkjflkdsfjkdlsjf</div>
  <div class="span2" style="margin-top:-200px"><img src='tt/5.jpg' class="img-polaroid" width="150px" height="200px"></div>
  <div class="span2" style="margin-top:-230px;margin-left:1150px"><img src='tt/6.jpg' width="150px" height="200px" class="img-polaroid"></div>
</center>
</div>
<hr/ width='860px'>
<br><br>

<div class="row-fluid">
<center>
  <div class="span3"><img src='tt/9.jpg' class="img-polaroid"></div>
  <div class="span2"><img src='tt/10.jpg' class="img-polaroid"></div>
  <div class="span3"><img src='tt/11.jpg' class="img-polaroid"></div>
  <div class="span2"><h4>猜你喜欢</h4></div>
  <div class="span2"><h4><a href="caini.html">更多</a></h4></div>
</center>
</div>
<div class="row-fluid">
<center>
  <div class="span3">dhfjksdhfsjhffd;f</div>
  <div class="span2">fjsilfjsljflsjflsjfs</div>
  <div class="span3">fijsldkjflkdsfjkdlsjf</div>
  <div class="span2" style="margin-top:-200px"><img src='tt/6.jpg' class="img-polaroid" width="150px" height="200px"></div>
  <div class="span2" style="margin-top:-230px;margin-left:1150px"><img src='tt/7.jpg' width="150px" height="200px" class="img-polaroid"></div>
</center>
</div>
<br><br><br>

<div class="modal" id="myModal">
                     <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3>对话框标题</h3>
                      </div>
                    <div class="modal-body">
                    <p>对话框内容</p>
                    </div>
                   <div class="modal-footer">
                    <p>谢谢您的支持</p>                            
                   </div>
                </div>

<script src="jquery-1.9.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
$('#myModal').modal({
    backdrop:true,
    keyboard:false,
    show:true
    });
$('#myModal').modal('show')
$('#myModal').modal('hide')
</script>
</body>
</html>
